body {
    background-color: black;
    color: white;
    font-family: Alegreya;
}
  
header {
    text-align: center;
    padding: 20px;
}
  
h1 {
    font-size: 11vw;
    font-weight: bold;
    text-align: center;
}
  
.main-title {
    display: block;
    color: white;
}
  
.sub-title {
    display: block;
    color: #dddddd;
}
  
main {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.mainindex {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}
button {
    font-size: 9vw;
    text-align: center;
    padding: 85px 200px;
    margin: 15px;
    background-color: #222222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}


.home-icon {
    height: 70px;
    margin-right: 125px;
}
  
.home-link {
    display: flex;
    align-items: left;
} 

.uceniheader {
    display: flex;
    align-items: center;

}
.ucenih1 {
    text-align: center;
    margin-right: 150px;
}

.tetsh1 {
    text-align: center;
    margin-right: 150px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
  

aside {
    background-color: black;
    border: 2px solid white;
    border-radius: 12px 0px 0px 12px;
    margin-top: 40px;
    width: 300px;
    position: fixed;
    top: 130px;
    right: 0px;
    grid-column: 1;
    grid-row: 2;
    text-decoration: none;
}

aside li {font-size: 40px;
    list-style-type:disc;
    color: white;
    margin: 3px;
    margin-left: 2px;
}
h3.aside {text-align: center;
    margin-left: 10px;
}

a:link {
    color:white ;
}
a:visited {
    color: white;
}

a:active {
    color: red;
}

h2 {
    font-size: 8vw;
    text-align: left;
    padding-left: 30px;
}

h4 {
    font-size: 5vw;
    text-align: left;
    margin-left: 20px;
}

.uceniimg {
    display: block;
    margin-left: 0px;
    margin-right: auto;
    width: 600px;
    border-radius: 8px;
    margin-top: 80px;
}
.ucenipar {
    font-size: 5vw;
    text-align: left;
    margin-left: 20px;

}


#quiz {
	margin-left: 10px;
	background:#222222;
	padding: 10px 20px 10px 20px;
	width: 40%;
	border-radius: 20px;
	float: left;

}

input {
	margin-bottom: 20px;
	display: block;
    width: 95%;

}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: green;
	padding: 10px 10px 10px 20px;
	width: 32%;
	border-radius: 20px;
	float: left;
	margin-left: 5px;
	font-size: 20px;


}


#mc {
	display: inline;
} 

.imgtest {
    width: 100%;
}

.back-icon {
    height: 30px;
    margin-left: 85px;
}
  
.backlink {
    display: flex;
    align-items: center;
} 

.test {
    padding-left: 15px;
    padding-right: 30px;
    font-size: 5vw;
}

.imgtest2 {
    border-image: 30%;
    height: 400px;
    width: 400px;
    margin: 10px;
    margin-right: 15px;
}

.correct-answer {
    background-color: rgb(60, 209, 60);
}

.incorrect-answer {
    background-color: rgb(236, 73, 100);
}

.uceniparagraf {
    padding-left: 5px;
    padding-right: 400px;
    font-size: 5vw;

}

h3 {
    font-size: 4vw;
}
